* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.drinks,
.random,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.margin-top {
  margin-top: 120px;
  width: 1000px;
}

.p-4 {
  padding-left: 110px !important;
  padding-right: 100px !important;
}

.drinkname {
  font-weight: 650;
  font-size: 90px;
}

.name {
  font-weight: 650;
  font-size: 19px;
}

img:hover {
  opacity: 0.85;
}

.width {
  width: 1000px;
}

.reviewcards {
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
}

.button-review {
  width: 200px !important;
  height: 30;
  background-color: bisque;
}

.rstar {
  width: 50%;
}

.starstar {
  display: inline-block;
}

.reviewcards:hover {
  transform: scale(1.03);
  transition: 0.3s ease;
  box-shadow: 0px 0px 10px orange;
}
