.main-footer {
  color: #df6c49;
  text-align: center;
  padding: 4rem 0 2rem 0;
  display: flex;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #eddfc9;
  flex-direction:column;
  justify-content: center;

}

a {
  color: #df6c49;
  text-decoration-line: underline;
  text-underline-position: auto;
}
