video {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.hero-container {
  /* background: url('./Resources/martini_home.jpg') center center/cover no-repeat; */
  height: 83vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  justify-content: center;
}

.hero-container > h1 {
  color: #df6c49;
  font-size: 100px;
}

.hero-btns {
  margin-top: 32px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
  }
}

.btn-mobile {
  display: block;
  text-decoration: none;
}

.btn {
  width: 100%;
}

.btn-primary-mt-2 {
  color: #db8500;
}
