.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 30px;
}

.drink-name {
  color: black;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.photo {
  height: 800px;
  width: 800px;
}

.center {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
}

.drinkcard:hover {
  transform: scale(1.03);
  transition: 0.6s ease;
  box-shadow: 0px 0px 10px orange;
}
