input[type="radio"] {
  display: none;
  padding-left: 3px;
}

label {
  position: relative;
  color: #df6c49;
  border: 2px solid #df6c49;
  border-radius: 5px;
  padding: 10px 20px;
  align-items: center;
  cursor: pointer;
}

label:hover {
  background-color: #eddfc9;
}

input[type="radio"]:checked + label {
  background-color: #df6c49;
  color: white;
}

input[type="radio"]:checked + label:before {
  height: 16px;
  width: 16px;
  border: 10px solid white;
  background-color: #df6c49;
}
